.continents-dropdown {
  display: flex;
  justify-content: center;
}

.continents-options {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: none;
  outline: none;
  background-color: #2853ad;
  color: #fff;
  font-size: 0.8rem;
}

.continents-list {
  display: flex;
  flex-wrap: wrap;
}

.continent-item {
  width: 50%;
  height: 250px;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  transition: all 0.3s ease-out;
}

.continent-item .icon-show-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.continent-item .icon-show-details svg {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 0.3rem;
}

.continent-item .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.continent-item .image img {
  width: 60%;
  height: auto;
}

.continent-item .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  color: #fff;
  width: 100%;
  height: 40%;
}

.continent-item .details .title {
  font-size: 1rem;
}

.continent-item .details .stats {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .continent-item {
    height: 350px;
  }

  .continent-item .image {
    justify-content: center;
    align-items: flex-start;
    height: 70%;
  }

  .continent-item .details {
    height: 20%;
  }

  .continent-item .image img {
    width: 60%;
    height: 100%;
  }    
}
